@media (max-width: 1440px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1024px) {
  #footer {
    .footer {
      width: 825px;
    }
  }

}
@media (max-width: 992px) {
  #interior .visit--contact__map {
    margin-top: 40px;
    margin-left: 54px;
  }
  #interior .visit--title__text p {
    font-size: 16px;
    color: #FFFFFF;
  }

}
@media (max-width: 840px){
  #footer .footer {
    width: 825px;
  }
  #footer .footer {
    width: 698px;
  }

}
@media (max-width: 768px) {

  #footer h4 {
    text-align: start;
  }
  #footer .footer--icon {
    display: flex;
    margin-left: -89px;
  }
  #footer {
    .footer{
      &--foot__icon1 {
        color: white;
        font-size: 16px;
        margin: 0 10px;
      }
    }

  }

  #footer {
    .footer {
      width: 613px;
    }
  }
  #interior {
    .visit {
      display: flex;
      align-items: center;
    }
  }

  #footer .footer--foot__item {
    display: none;
  }
  #footer {
    .footer {
      width: 657px;
    }

  }
}
@media (max-width: 566px) {
  #footer{
    .footer{
      &--foot h1 {
        font-size: 15px;
        margin-right: 372px;
      }
    }

  }


  #footer .footer {
    width: 454px;
  }
  #footer .footer {
    width: 441px;
  }
  footer .footer {
    width: 452px;
  }
  #footer {
    .footer {
      width: 448px;
      &--foot {
        &__item {
          display: none;
        }
      }
    }

  }
}
@media (max-width: 450px) {
  #footer .footer--foot__icon1 {
    font-size: 17px;
  }
  #footer .footer--icon {
    display: flex;
    margin-left: -186px;
  }

  footer .footer {
    width: 348px;
  }
  #footer {
    .footer {
      width: 364px;
      &--foot h1 {
        font-size: 22px;
      }
    }
  }
}
@media (max-width: 425px) {


}
@media (max-width: 414px){
  #footer .footer {
    width: 329px;
  }

}
@media (max-width: 380px) {
  #footer .footer--foot__icon1 {
    font-size: 15px;
    margin: 0 4px;
  }
  #footer .footer--icon {
    display: flex;
    margin-left: -233px;
  }
  #footer .footer--foot h1 {
    font-size: 17px;
  }
  #footer .footer {
    width: 290px;
  }
  #interior .visit--title__text p {
    font-size: 12px;
  }
  #interior .visit--title__text h2 {
    font-size: 24px;
    line-height: 32px;
  }
  #footer h4 {
    text-align: start;
    font-size: 12px;
  }

}
@media (max-width: 350px) {


}
@media (max-width: 320px){
  footer h4 {
    text-align: start;
    font-size: 8px;
  }
  #footer .footer--icon {
    display: flex;
    margin-left: -249px;
  }
  #footer .footer {
    width: 247px;
  }
}