@media (max-width: 1440px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1024px) {
  #interior{
    .interior-images{
      &__img1{
        width: 300px;
        height: 400px;
      }
      &__img2{
        width: 300px;
        height: 400px;
      }
      &__top--1{
        width: 381px;
        height: 186px;
      }
      &--two__1 {
        height: 199px;
      }
      &--two__2 {
        width: 188px;
        height: 203px;
      }

    }
  }
}
@media (max-width: 992px) {
  #interior {
    .visit {
      &--contact {
        width: 445px;
        &__map {
          width: 355px;
        }
      }
    }

  }
}
@media (max-width: 840px){
  #interior .visit--contact {
    width: 377px;
    height: 457px;
  }
  #interior .visit--contact h5 {
    font-size: 18px;
    margin: 9px 0;
  }
  #interior .visit--contact__icon1 {
    font-size: 21px;
    margin: 0 35px;
  }
  #interior .visit--contact__map {
    margin-top: 40px;
    margin-left: 52px;
    width: 286px;
  }
}
@media (max-width: 768px) {
  #interior {
    .visit {
      flex-direction: column;
    }
  }
}
@media (max-width: 566px) {
}
@media (max-width: 450px) {
  #interior .visit--contact__map {
    width: 358px;
    height: 165px;
  }
  #interior {
    #interior .visit--contact__icon2 {
      font-size: 21px;
    }
    #interior .visit--contact__icon2 {
      font-size: 21px;
      margin: 30px -6px 20px 18px;
    }

    #interior .visit--title__h1--img {
      margin: 5px -3px;
    }
    #interior .visit--contact h5 {
      font-size: 19px;
    }
    .visit {
      &--contact {
        width: 408px;
        height: 459px;
        &__map {
          width: 321px;
        }
      }
    }
  }




}
@media (max-width: 424px) {
  #interior .visit--title__text p {
    font-size: 15px;
    #interior .visit--title__h1 {
      margin: 46px 0;
    }
    #interior .visit--contact__map {
      width: 310px;
      height: 158px;
    }
    #interior .visit--contact {
      width: 403px;
      height: 403px;
    }
    #interior .visit--contact h5 {
      font-size: 17px;
      margin: 1px 20px;
    }
    #interior .interior {
      margin: 20px 0;
    }
  }
  #interior {
    .visit {
      &--title {
        &__text {
          h2 {
            font-size: 26px;
            line-height: 34px;
            p {
              font-size: 16px;
            }
            h3 {
              font-size: 25px;
              margin: 26px 0;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 414px) {
  #interior .visit--title__h1--img {
    margin: 0 20px;
  }
  #interior .visit--contact h5 {
    font-size: 16px;
    margin: 10px 20px;
  }
  #interior .visit--contact {
    width: 393px;
    height: 441px;
  }
  #interior .visit--contact {
    width: 349px;
    height: 365px;
  }
  #interior .visit--contact__map {
    width: 256px;
    height: 135px;
  }
  #interior .visit--contact__icon2 {
    font-size: 19px;
    margin: 25px 0 0 18px;
    padding-left: -47px;
  }
  #interior .visit--title__h1--img {
    margin: 0 7px;
  }
}
@media (max-width: 380px) {
  #interior .visit--contact__map {
    position: relative;
    left: -52px;
    top: -39px;
    width: 344px;
    height: 361px;
  }
  #interior .visit--contact h1 {
    display: none;
  }
  #interior .visit--contact h5 {
    display: none;
  }
  #interior .visit--contact__icon3 {
    display: none;
  }
  #interior .visit--contact__icon2 {
    display: none;
  }
}
@media (max-width: 350px) {
  #interior .visit--contact__map {
    margin-top: 40px;
    margin-left: 54px;
    width: 325px;
    height: 362px;
  }
  #interior .visit--contact {
    width: 329px;
    height: 365px;
  }
  #interior .interior--title {
    margin: -3px 20px;
    font-size: 30px;
  }
  #interior .visit--title__h1 {
    margin: 32px 0;
  }
  #interior .visit--title__text h3 {
    margin: 23px 0;
  }
  #interior .visit--title__text button {
    font-size: 9px;
  }
}
@media (max-width: 320px) {
  //#interior .visit--contact__map {
  //  margin-top: 20px;
  //  margin-left: 26px;
  //  position: relative;
  //  left: 80px;
  //  width: 250px;
  //  height: 110px;
  //  transform: translateX(-50%);
  //}
  #interior .visit--contact__map {
    margin-top: 40px;
    margin-left: 54px;
    width: 270px;
    height: 300px;
  }

  #interior .visit--contact__icon1 {
    font-size: 13px;
    margin: 0 13px;
  }
  #interior .interior--title {
    margin: -3px 20px;
    font-size: 25px;
  }
  #interior .visit--contact {
    width: 299px;
    height: 329px;
  }
  #interior .visit--contact h1 {
    font-size: 19px;
  }
  #interior .visit--contact {
    width: 270px;
    height: 297px;
  }
  #interior .visit--contact h5 {
    font-size: 12px;
  }
}