@media (max-width: 1440px){
  #menu{
    .menu--content .ground {
      width: 80%;
      height: 280%;
      background: rgba(255, 255, 255, 0);
      position: absolute;
      left: 10%;
      top: 20%;
      z-index: 200;
    }
    .menu--content .similar {
      margin: 20px 171px 20px 0;

    }
    .menu .modal__content {
      width: 673px;
      height: 238px;
      background: #1F2731;
      display: flex;
    }
  }
}
@media (max-width: 1200px) {
  #menu{
    .menu{
      .modal--button {
        font-size: 30px;
        color: #FFFFFF;
        font-weight: bold;
        position: absolute;
        top: 87px;
        left: 30px;
        cursor: pointer;
      }
      .menu--content .ground {
        width: 80%;
        height: 400%;
        background: rgba(255, 255, 255, 0);
        position: absolute;
        left: 10%;
        top: 10%;
        z-index: 1000;
      }
      .modal__content {
        width: 620px;

      }
      .modal__content__actions__price {
        padding: 10px 10px;
      }
      &--list{
        .active{
          width: 232px;
        }
        &__link {
          width: 232px;
          font-size: 16px;

        }
      }
    }
  }
}
@media (max-width: 1024px){
  #menu{
    .menu{
      .modal--button {
        font-size: 30px;
        color: #FFFFFF;
        font-weight: bold;
        position: absolute;
        top: 87px;
        left: 30px;
        cursor: pointer;
      }
      .menu--content .ground {
        width: 86%;
        height: 650%;
        background: rgba(255, 255, 255, 0);
        position: absolute;
        left: 10%;
        top: 0;
        z-index: 1000;
      }
      .modal__content {
        width: 620px;

      }
      .modal__content__actions__price {
        padding: 10px 10px;
      }
      &--list{
        .active{
          width: 232px;
        }
        &__link {
          width: 232px;
          font-size: 16px;

        }
      }
    }
  }
}
@media (max-width: 992px){
  //#menu{
  //  .menu{
  //    .modal--button {
  //      font-size: 30px;
  //      color: #FFFFFF;
  //      font-weight: bold;
  //      position: absolute;
  //      top: 87px;
  //      left: 30px;
  //      cursor: pointer;
  //    }
  //    .menu--content .ground {
  //      width: 86%;
  //      height: 650%;
  //      background: rgba(255, 255, 255, 0);
  //      position: absolute;
  //      left: 10%;
  //      top: 0;
  //      z-index: 1000;
  //    }
  //    .modal__content {
  //      width: 603px;
  //
  //    }
  //    .modal__content__actions__price {
  //      padding: 10px 5px;
  //    }
  //    &--list{
  //      .active{
  //      width: 232px;
  //    }
  //      &__link {
  //        width: 232px;
  //        font-size: 16px;
  //
  //      }
  //    }
  //  }
  //}
  #menu{
    .menu{
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .line{
        display: none;
      }
      .similar{
        margin: 60px 0 30px 216px;
      }
      &--list{
        width: 710px;
        display: flex;
        margin: 0 0 20px 79px;

        li{
          margin: 0 16px 0 0;
        }
        &__link{
          width: 100px;
          height: 40px;
          font-size: 12px;
          background: black;
          margin: 0 20px 0 0;
          &::after{
            height: 0;
          }
        }
        .active{
          width: 100px;

        }
      }
      .menu--content2 {
        margin: 0 0 0 0;
      }
      &--content{
        .modal{
          margin: 0 0 0 62px;
        }
        .modal--button{
          top: 159px;
          left: 40px;
        }
        .ground{
          width: 90%;
          height: 469%;
          background: rgba(255, 255, 255, 0);
          position: absolute;
          left: 9%;
        }
        .card{
          &--click{
            img{
              width: 280px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px){
  #menu{

    .menu{

      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .line{
        display: none;
      }
      .menu--contents .similar {
        margin: 60px 0 30px 213px;
      }
      &--content2{
        margin: 0 0 0 0;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
      }
      &--list{
        width: 710px;
        display: flex;
        margin: 0 0 20px 0 ;
        li{
          margin: 0 15px 0 0;
        }
        &__link{
          width: 100px;
          height: 40px;
          font-size: 12px;
          background: black;
          margin: 0 20px 0 0;
          &::after{
            height: 0;
          }
        }
        .active{
          width: 100px;

        }
      }

      &--content{
        .modal--button {
          top: 162px;
        }
        .modal {
          margin: 0 0 0 31px;
        }
        .ground{
          width: 80%;
          height: 580%;
          left: 60%;
        }
        .card{
          &--click{
            img{
              width: 280px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 566px) {
  #menu{
    .menu{
      .menu--content2 {
        margin: 0 0 0 -5px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 13px;
        .card{
          width: 256px;
          &--click{
            img{
              width: 256px;
            }
          }
        }
      }
      &--list{
        width: 527px;
        display: flex;
        overflow-x: auto;
        margin: 0 0 10px -5px;
        &::-webkit-scrollbar {
          display: none;
        }
        li{
          margin: 0 10px 0 0;
        }
        &__link{
          width: 100px;
          height: 40px;
          font-size: 12px;
          background: black;
          margin: 0 20px 0 0;
          &::after{
            height: 0;
          }
        }
        .active{
          width: 100px;

        }
      }
    }
  }
}
@media (max-width: 480px) {
  #menu{
    .menu{
      &--list{
        width: 410px;
        display: flex;
        overflow-x: auto;
        margin: 0 0 10px 0 ;
        &::-webkit-scrollbar {
          display: none;
        }
        li{
          margin: 0 10px 0 0;
        }
        &__link{
          width: 100px;
          height: 40px;
          font-size: 12px;
          background: black;
          margin: 0 20px 0 0;
          &::after{
            height: 0;
          }
        }
        .active{
          width: 100px;

        }
      }
    }
  }
}
@media (max-width: 425px) {
  #menu{
    .menu{
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .search{
        display: block;
        &--full{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 0;
          &__title{
            display: flex;
            align-items: center;
            margin: 0 235px 0 0;
            h1{
              font-family: 'Shalimar', sans-serif;
              font-weight: 300;
              font-size: 35px;
              color: #FFFFFF;
              margin-left: 10px;
            }
          }
          button{
            background:#1b2026;
            border: none;
            outline: none;
            color: #FFFFFF;
            font-size: 25px;
          }
        }
      }
      &--list{
        width: 400px;
        display: flex;
        overflow-x: auto;
        margin: 0 0 10px 0 ;
        &::-webkit-scrollbar {
          display: none;
        }
        li{
          margin: 0 10px 0 0;
        }
        &__link{
          width: 100px;
          height: 40px;
          font-size: 12px;
          background: black;
          margin: 0 20px 0 0;
          &::after{
            height: 0;
          }
        }
        .active{
          width: 100px;

        }
      }
      .line{
        display: none;
      }
      &--content{
        margin: 0 0 0 0;
        .modal{
          display: none;

        }
        .ground{
          display: none !important;
          width: 0;
          left: 10%;
          height: 0;
        }
        .similar{
          display: none !important;
        }
        .card{
          display: flex;
          padding: 20px 0;
          background: #1b2026;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 45%;
            transform: translateX(-50%);
            width: 90%;
            height: 1px;
            background-color: #7e7d7d;
          }
          &--click{
            display: flex;
            align-items: flex-start;

            img{
              width: 120px;
              height: 80px;
            }

          }
          &--text{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: 200px;
            h1{
              color: #FFFFFF;
            }
            h4{
              padding: 8px 0;
              font-size: 13px;
            }

          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  #menu{
    .menu{
      width: 95%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .search{
        display: block;
        &--full{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 0;
          &__title{
            display: flex;
            align-items: center;
            margin: 0 150px 0 0;
            h1{
              font-family: 'Shalimar', sans-serif;
              font-weight: 300;
              font-size: 35px;
              color: #FFFFFF;
              margin-left: 10px;
            }
          }
          button{
            background:#1b2026;
            border: none;
            outline: none;
            color: #FFFFFF;
            font-size: 25px;
          }
        }
      }
      &--list{
        width: 310px;
        display: flex;
        overflow-x: auto;
        margin: 0 0 10px 0 ;
        &::-webkit-scrollbar {
          display: none;
        }
        li{
          margin: 0 10px 0 0;
        }
        &__link{
          width: 100px;
          height: 40px;
          font-size: 12px;
          background: black;
          margin: 0 20px 0 0;
          &::after{
            height: 0;
          }
        }
        .active{
          width: 100px;

        }
      }
      .line{
        display: none;
      }
      &--content{
        margin: 0 0 0 0;
        .modal{
          display: none;

        }
        .ground{
             display: none !important;
             width: 0;
             left: 10%;
             height: 0;
        }

        .similar{
          display: none;
          color: #1b2026;
          margin: 0 0 0 0;
        }
        .card{
          display: flex;
          padding: 20px 0;
          background: #1b2026;
          position: relative;
          margin: 0 0 0 10px;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 45%;
            transform: translateX(-50%);
            width: 90%;
            height: 1px;
            background-color: #7e7d7d;
          }
          &--click{
            display: flex;
            align-items: flex-start;



            img{
              width: 120px;
              height: 80px;
            }

          }
          &--text{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: 150px;
            &__ice{
              h1{
                color: white;
              }
            }
            h4{
              padding: 8px 0;
              font-size: 13px;
            }

          }
        }
      }
    }
  }
}