#search {
  padding: 20px 0 190px 0;
position: relative;
  background: #1b2026;
  .container {
    display: flex;
    justify-content: center;
  }

  .search {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 0.8px solid rgba(86, 9, 187, 0.5);
    border-radius: 4px;


    .search-button {
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      color: #D6D3D3;
      opacity: 100;
    }

    .search-input {
      width: 300px;
      height: 37px;
      border: none;
      outline: none;
    }
  }
}
