#best {
  padding: 50px 0;

  .best {
    &--title {
      &__line {
        display: flex;
        align-items: center;

        h3 {
          margin-left: 30px;
          font-family: "Shalimar", sans-serif;
          font-size: 30px;
          color: white;
          font-weight: 200;
        }
      }

      h1 {
        font-family: "Libre Baskerville", sans-serif;
        color: white;
        font-weight: 400;
        font-size: 30px;
        line-height: 61px;
        padding: 10px 0 20px 0;
        width: 320px;
      }

      p {
        font-family: "Spartan", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #c2c2c2;
        width: 360px;
        padding: 10px 0 30px 0;
      }
    }

    display: flex;
    align-items: center;
    justify-content: space-between;


    &--slide {
      position: relative;
      width: 55%;

      .border {
        position: absolute;
        width: 0.3px;
        height: 190px;
        background: rgba(255, 255, 255, 0.31);
        left: -10px;
        top: 0;
        display: none;
      }

      img {
        outline: none;
        border: none;
      }
    }

    .slick-next {
      position: absolute;
      color: white;
      width: 38px;
      height: 158px;
      right: -5%;
      display: block;

    }

    .slick-prev {
      color: white;
      display: none !important;
    }
  }
}