#home {
  background: url("../img/bg.jpg") center/cover no-repeat;
  min-height: 90vh;
  position: relative;
  .home {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__line-top {
      position: absolute;
      z-index: 4;
      width: 390px;
      right: 80px;
      top: 37px;
      border: 0.4px solid #FFFFFF;
      opacity: 0.6;

    }

    &__line-bottom {
      position: absolute;
      width: 1339px;
      z-index: 4;
      left: 50%;
      transform: translateX(-50%);
      bottom: 63px;
      border: 0.2px solid #FFFFFF;
      opacity: 0.6;

    }

    &__line-left {
      position: absolute;
      height: 340px;
      left: 70px;
      bottom: 79px;
      z-index: 4;
      opacity: 0.6;
      border: 0.4px solid #FFFFFF;
    }

    &:before {
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.45);
      position: absolute;
      z-index: 3;
      color: white;
    }

    &--block {
      position: relative;
      margin-top: 123px;
      z-index: 4;
      display: flex;
      align-items: center;
      justify-content: center;

      h4 {
        font-family: 'Shalimar', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
        margin: 39px;
      }
    }

    &--main {
      position: relative;
      z-index: 99;
      margin-top: -43px;

      h1 {
        font-family: 'Silk Serif', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 72px;
        line-height: 98px;
        color: #FFFFFF;
        text-align: center;
      }

      &__par {
        font-family: 'Spartan', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 14px;
        color: #FFFFFF;
        width: 55%;
        margin-left: 25%;
      }

      &__decor {
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
          width: 169px;
          background: red;
          color: red;
          border: 1.4px solid #EF272C;
          margin: 0 145px;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: 2px solid red;
          margin: 5px 125px;
          background: transparent;
          font-weight: 600;
          text-transform: uppercase;
          padding: 10px 20px;
          color: #FFFFFF;
          font-family: 'Spartan', serif;
          font-size: 15px;
          h1{
            font-family: 'Spartan',serif;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 13px;
            color: #FFFFFF;
            margin-right: 5px;
          }
        }


      }

      &__modal{
        position: absolute;
        z-index: 1;
        transition: 1s;
        transform: translate(700px, -400px);
        right: 0;
        bottom: -30px;
        &--window{
          width: 320px;
          height: 370px;
          background: #1e1e26;
          border-radius: 10px;
          position:relative;
          &__block{
            padding: 80px 0;
            &--card{
              display: flex;
              position: absolute;
              margin-left: 50px;
              p{
                font-family: "Spartan";
                font-weight: 400;
                font-size: 12px;
                line-height: 13px;
                color: #FFFFFF;
                margin-left: 10px;
                span{
                  font-family: "Spartan";
                  font-weight: 400;
                  font-size: 17px;
                  line-height: 19px;
                  color: #b4b4b4;
                }
              }
            }
            &--second{
              padding: 90px 0;
              display: flex;
              position: absolute;
              margin-left: 50px;
              p{
                font-family: "Spartan";
                font-weight: 400;
                font-size: 12px;
                line-height: 13px;
                color: #FFFFFF;
                margin-left: 10px;
                span{
                  font-family: "Spartan";
                  font-weight: 400;
                  font-size: 17px;
                  line-height: 19px;
                  color: #BBBBBB;
                }
              }
            }
            button{
              font-family: "Spartan";
              width: 200px;
              height: 40px;
              cursor: pointer;
              background: red;
              color: #FFFFFF;
              border: none;
              outline: none;
              position: absolute;
              margin: 50% 15%;
              font-weight: 600;
            }

          }
        }

      }



      h1 {
        font-family: 'Silk Serif', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 98px;
        color: #FFFFFF;
      }

      p {
        font-family: 'Spartan', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 20px;
        color: #FFFFFF;
      }
    }

    &--absence {
      position: relative;
      z-index: 4;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-top: 70px;


      &__archive {
        display: flex;
        justify-content: space-between;

        align-items: center;

        &--icon {
          color: #EF272C;
          font-size: 20px;
          margin: 0 10px 0 21px;
        }

        div {
          width: 85px;
          height: 1px;
          background: #FFFFFF;
        }

        padding-top: -50px;


        h4 {
          font-family: 'Spartan', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 13px;
          text-transform: capitalize;
          color: #FFFFFF;
        }


        h1 {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          text-transform: capitalize;
          color: #FFFFFF;
          margin: 20px;
        }
      }

      &__select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 45px;

        &--icon {
          color: #EF272C;
          margin: 0 15px;
        }

        div {
          width: 85px;
          height: 1px;
          background: #FFFFFF;
        }

        h1 {
          font-family: 'Spartan', serif;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          text-transform: capitalize;
          color: #FFFFFF;
          margin: 20px;
        }

        h5 {
          font-family: 'Spartan', serif;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 13px;
          text-transform: uppercase;
          color: #FFFFFF;
          opacity: 0.8;
        }
      }
    }
  }
}
