#interior {
  .interior{
    display: flex;
    align-items: center;
    justify-content: center;
    &--title{
      font-family: 'Shalimar',sans-serif;
      margin: 0 20px;
      font-weight: 400;
      font-size: 40px;
      text-transform: capitalize;
      color: #FFFFFF;
    }
  }
  .interior--images{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 10px 10px ;
    &__img1{
      width: 350px;
      height: 500px;
      margin: 10px 10px ;
    }
    &__top{
      &--1{
        width: 390px;
        height: 280px;
        margin: 10px 10px ;
      }
      &--two{
        display: flex;
        margin: 0 10px ;
        &__1{
          width: 190px;
          height: 210px;
        }
        &__2{
          width: 190px;
          height: 210px;
          margin: 0 5px ;
        }
      }
    }
    &__img2{
      width: 350px;
      height: 500px;
      margin: 10px 10px ;
    }

  }
  .slider-slap {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar{
      display: none;
    }
  }
  .visit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0 ;
    &--title{
      &__h1{
        display: flex;
        align-items: center;
        &--img{
          margin: 0 20px;
        }
        &--h1{
          font-family: 'Shalimar',sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          line-height: 49px;
          color: #FFFFFF;
          flex: none;
          order: 1;
          flex-grow: 0;
        }
      }
      &__text {
        h2{
          font-family: 'Silk Serif', sans-serif;
          font-weight: 600;
          font-size: 40px;
          line-height: 61px;
          color: #FFFFFF;
          margin: 20px 0 ;
        }
        h3{
          font-family: 'Spartan',sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          color: #EF272C;
          margin: 10px 0 ;
        }
        p{
          font-family: 'Spartan',sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          color: #FFFFFF;
        }
        button {
          font-family: 'Spartan',sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 13px;
          text-transform: uppercase;
          color: #FFFFFF;
          background: #262634;
          border: 1px solid red;
          padding: 10px 30px;
          margin: 40px 0 ;
          position: relative;
          transition: .4s;
        }
        button:hover{
          transform: scale(1.1);
          background: red;
          color: #262634;
        }
        button:before{
          position: absolute;
          content: '';
          width: 150px;
          height: 1px;
          top: -10px ;
          right: 0;
          background: #EF272C;
        }
        button:after{
          position: absolute;
          content: '';
          width: 150px;
          height: 1px;
          bottom: -10px ;
          left:  0;
          background: #EF272C;
        }
      }
    }
    &--contact {
      width: 500px;
      height: 450px;
      background: rgba(239, 39, 44, 0.62);
      h1{
        font-family: 'Gilroy',sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: #1F2731;
        margin: 20px 20px;
      }
      h5{
        font-family: 'Montserrat',sans-serif;
        font-weight: 400;
        font-size: 22px;
        color: #1F2731;
        margin: 10px 20px;
      }
      &__map{
        margin-top: 30px ;
        margin-left: 45px;
      }
      &__icon1{
        margin: 0 20px;
      }
      &__icon2{
        color: #262634;
        font-size: 25px;
        margin:  20px 0 0 30px ;
        padding-left: 7px
      }
    }
  }
}