@import "/src/Style/About";
@import "/src/Style/Best";
@import "/src/Style/Main";
@import "/src/Style/Menu";
@import "/src/Style/Footer";
@import "/src/Style/Interior";
@import "Style/Adaptacia/MediaEmir";
@import "/src/Style/Home";
@import "/src/Style/Header";
@import "/src/Style/Adaptacia/InteriorMedia";
@import "/src/Style/Adaptacia/FooterMedia";
@import "/src/Style/Adaptacia/BestMedia";
@import "/src/Style/Adaptacia/MainMedia";
@import "/src/Style/Adaptacia/MenuMedia";
@import "/src/Style/Adaptacia/SearchMedia";
@import "/src/Style/Adaptacia/HomeMedia";
@import "/src/Style/Adaptacia/DescriptionMedia";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Headland+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.container{
  width: 80%;
  margin: 0 auto;
}
